.item-detail {
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  border: solid 1px var(--color-alpha);
  border-bottom: 2px solid var(--color-alpha);
  position: relative;
}
    .item-detail .text-item-detail {
      text-align: left;
      width: 50%;
      display: inline-block;
    }

    .text-item-detail .title {
      font-size: 2em;  
    }

    .text-item-detail .description {
      text-align: left;
      padding-right: 5em;
    }
  
    .text-item-detail .price {
      font-size: 2.5em;
    }
  
    .text-item-detail .btn--big {
      width: calc(50% - 0.5rem);
      text-decoration: none;
      line-height: 2rem;
    }

    .item-detail .item-img-detail {
      display: 0 0 auto;
      width: 50%;
      display: inline-block;
    }

  .item-img-detail .img-detail {
    
    display: inline-block;
  }
  
  .btn-group {
    display: flex;
    justify-content: space-between;
  }
  
  .btn--big {
    cursor: pointer;
    align-items: center;
    text-align: center ;
  }
  
  .btn--big:hover {
    font-weight: bold;
  }
  
  *:disabled,
  .disabled {
    filter: grayscale(0.5);
    cursor: not-allowed;
  }