
.item-detail-container {
    margin: auto;
    display:inline-flexbox;
    max-width: 60rem;
    opacity: 0;
    padding-top: 20px;
  }
  
  .item-container {
    display: block;
    justify-content: space-around;
  }
  
  .breadcrumb {
    height: 1.5rem;
  }
  
  .back-link {
    display: flex;
    text-align: left;
    align-items: center;
    line-height: 1.5rem;
    vertical-align: middle;
    color: var(--color-alpha);
    text-decoration: none;
  }
  
  .back-link__icon {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    display: inline-flex;
  }
  
  .back-link__text {
    line-height: 1.5rem;
    display: inline-flex;
  }
  
  .appear{
    opacity: 1;
    transition: opacity 1s ease;
  }