.item-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .category {
    margin: 0.5rem;
    padding: 0.2rem;
    width: 10rem;
    height: 1.8rem;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
    background-color: var(--color-gamma);
    color: white;
    border-radius: 0rem;
    cursor: pointer;
  }
  
  .category:hover {
    filter: brightness(1.3);
  }